/* TeamMembersPage.css */

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  padding: 2rem;
  width: 100vw;
}
.main-lead{
  display: flex;
}
.ssd{
  padding: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.col-md-4 {
  flex: 0 0 33.333333%;
  width: 33.333333%;
  padding-right: 15px;
  padding-left: 15px;
}
.card {
  margin-bottom: 20px;
  height: 100%;
}

.card-img-top {
  height: 200px;
  width: auto; /* Set the desired height for the images */
  object-fit:inherit;
}
.ls{
  padding: 1rem;
align-items: center;
}
.card{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.learn-more-button{
 
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: auto;
  transition-duration: 0.4s;
  width: 50%;
}
.learn-more-button-2{
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: auto;
  transition-duration: 0.4s;
  width: 20%;
}
.card-body {
  text-align: center;
  margin-top: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.card-text {
  color: #555;
  margin-bottom: 15px;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons a {
  margin: 0 10px;
  font-size: 1.2rem;
  color: #007bff; /* Set the desired color for the icons */
}

.social-icons a:hover {
  color: #0056b3; /* Set the desired color for the icons on hover */
}

.table {
  margin-top: 20px;
  width: 95vw;
  border-collapse: collapse;
  background-color: transparent;
  
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  padding: 0.5rem;
  background-color: transparent;
  color: white;
  /* border-style: solid; // Add border style */
}
.h1s{
  padding: 1rem;
text-align: center;
}
.table th {
  background-color: #007bff;
  color: #fff;
}
.tbl,.tb2{
  padding: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.table tbody tr:hover {
  background-color: transparent;
}
.row-parent{
  flex-direction: column;
  display: flex;
}


@media(max-width:768px){
  .table th,.table td{
   font-size: 0.8em;
  }
  .main-lead{
    flex-direction: column;
    align-items: center;
  }
  .row-parent{
    align-items: center;
  }
  .row{
    flex-direction: column;
    align-items: center;
  }
  .col-md-4{
    width: 89vw;
  }
  .card{
    width: 100%;
  }
  .table{
    width: 95vw;
  }
  .learn-more-button-2{
    width: 50%;
  }
}