.contact-us-container {
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  
  header {
    background-color: #00040F;
    color: white;
    padding: 1rem;
  }
  
  header h1 {
    margin: 0;
  }
  
  header p {
    font-size: 1.2rem;
  }
  
  .contact-sections {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 2rem;
  }
  
  .contact-form,
  .contact-info {
    width: 100%;
    padding: 5rem; /* Adjust the width as needed, leaving some space for margin */
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    margin-bottom: 0.5rem;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }
  
  button {
    background-color: #2e86c1;;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #1b5998;
  }
@media (max-width:768px){
  .contact-mobile{
    flex-direction: column;
  }
}